.b-resident-screen .b-service-accounts-settings,
.b-service-screen .b-service-accounts-settings {
	padding-top: var(--huge-padding);
	max-width: 600px;
}

.b-service-screen .b-service-accounts-settings {
	padding-bottom: 150px;
}

.b-service-accounts-settings__header {
	font-size: 26px;
	text-align: center;
	margin-bottom: var(--big-margin);
}

.b-service-accounts-settings__edit-btn {
	width: 100%;
  margin-right: 1px;
}

.b-service-accounts-settings .Collapsible .Collapsible__trigger {
	margin-bottom: var(--tiny-margin);
}

.b-service-accounts-settings__control-btns {
  display: flex;
  margin-bottom: var(--common-margin);
}

.b-service-accounts-settings__control-btns button {
  width: 100%;
}

.b-service-accounts-settings .Collapsible .Collapsible__contentInner {
	padding-top: var(--tiny-padding);
}

.b-service-accounts-settings__control-btns button:first-child {
	margin-right: 1px;
}

.b-service-accounts-settings .b-service-accounts-settings__edit-btn:hover {
	background-color: var(--edit-color);
}

@media (min-width: 1200px) {
  .b-service-screen .b-service-accounts-settings {
		padding-top: 85px;
		padding-bottom: 80px;
	}
	
	.b-service-accounts-settings__up-divider {
		margin-top: 0;
	}
}
  